# Python virtual environments
venv/
env/
.env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 

00/

src/data/clean/*
src/data/raw/*
src/data/5s_duration/*
src/data/30s_duration/*
src/wandb/*
wandb
checkpoints


src/data/15s_clean
src/BESTcheckpoints
